<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringRestfulWebServicesCRUD:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringRestfulWebServicesCRUD_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringRestfulWebServicesCRUD/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringRestfulWebServicesCRUD" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.4.1" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.4.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.4.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>